<md-toolbar color="primary">
  <span>Stampro</span>
  <span class="spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="openDialog()">
      <md-icon>fingerprint</md-icon>
      <span>Login/Signup</span>
    </button>
    <button md-menu-item>
      <md-icon>bookmark</md-icon>
      <span>Bookmark</span>
    </button>
  </md-menu>
</md-toolbar>

    <div class="card-viewer" *ngFor="let item of items | async">
      <md-card>
        {{ item.$value }}
      </md-card>
    </div>

<!--<div class="card-viewer">
<md-card>
  Hello Card
</md-card>
</div>
<div class="card-viewer">
<md-card>
  Hello Card
</md-card>
</div>-->

