/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.card-viewer {
    padding: 10px 20px 10px 20px;
}

.card_auth {
    padding-bottom: 10px;
}

.auth-button {
    width: 100px;
}

md-grid-tile {
  background: lightblue;
}

md-grid-list {
    margin: 10px;
}